/* --Global Settings */
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color1: #0b0d17;
  --color2: #d0d6f9;
  --color3: #fff;
  --font1: "Barlow", sans-serif;
  --font2: "Barlow Condensed", sans-serif;
  --font3: "Bellefair", serif;
}
.heading1 {
  font-size: 100px;
  color: var(--color3);
  font-family: var(--font3);
  text-transform: uppercase;
}
.heading2 {
  font-size: 70px;
  color: var(--color3);
  font-family: var(--font3);
  text-transform: uppercase;
}
.heading3 {
  font-size: 40px;
  color: var(--color3);
  font-family: var(--font3);
  text-transform: uppercase;
}
.heading4 {
  font-size: 25px;
  color: var(--color3);
  font-family: var(--font3);
  text-transform: uppercase;
}
.heading5 {
  font-size: 20px;
  color: var(--color2);
  font-family: var(--font2);
  text-transform: uppercase;
  letter-spacing: 4.72px;
}
.subHeading1 {
  font-size: 22px;
  color: var(--color3);
  font-family: var(--font3);
  text-transform: uppercase;
}
.subHeading2 {
  font-size: 14px;
  color: var(--color3);
  font-family: var(--font2);
  text-transform: uppercase;
  letter-spacing: 2.35px;
}
.navText {
  font-size: 16px;
  color: var(--color3);
  font-family: var(--font2);
  text-transform: uppercase;
  letter-spacing: 2.7px;
}
.para {
  color: var(--color2);
  font-size: 18px;
  font-family: var(--font1);
  line-height: 32px;
}
.width80 {
  width: 80%;
  margin: 0 auto;
}
html {
  scroll-behavior: smooth;
}

/* --home css */

.navCont {
  display: grid;
  grid-template-columns: 4fr 6fr;
  position: fixed;
  width: 100%;
  top: 5%;
}
.logo {
  display: flex;
  align-items: center;
  margin-left: 7%;
}
.navigation {
  backdrop-filter: blur(81.55px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
nav ul {
  display: flex;
  gap: 30px;
}
nav ul li {
  list-style: none;
  list-style: none;
  padding: 30px 0;
  border-bottom: 2px solid transparent;
}
nav ul li:hover {
  border-bottom: 2px solid var(--color3);
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 30px 0;
}
.navigation::before {
  content: "";
  position: absolute;
  width: 32vw;
  background-color: var(--color3);
  opacity: 0.4;
  height: 0.5px;
  top: 50%;
  left: -50%;
}
.homeWrapper {
  width: 100%;
  height: 100vh;
  background-image: url(/assets/home/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.homeCont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90vh;
  align-items: end;
}
.homeCont1 .heading5 {
  margin-bottom: 20px;
}
.homeCont1 .para {
  width: 85%;
}
.homeCont2 {
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
.exploreCont {
  width: 250px;
  height: 250px;
  background-color: var(--color3);
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.exploreCont:hover {
  box-shadow: 0 0 0 3rem hsla(0, 0%, 100%, 0.1);
}
.exploreCont p {
  color: var(--color1);
}
.active {
  border-bottom: 2px solid var(--color3);
}
.sticky {
  border: none;
}
/* --destination */

.destiWrapper {
  width: 100%;
  height: 100vh;
  background-image: url(/assets/destination/background-destination-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.destiCont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90vh;
  align-items: end;
}
.destiCont1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10%;
  align-items: start;
  justify-content: flex-end;
}
.destiCont1 img {
  width: 70%;
}
.destHeading span {
  font-weight: 700;
  color: #ffffff50;
}
.destImage {
  display: flex;
  justify-content: center;
}
.destiButton {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
.desti {
  background: none;
  outline: none;
  border: none;
  border-bottom: 2px solid transparent;
  padding: 10px 0;
  cursor: pointer;
  color: var(--color2);
}
.desti:hover {
  padding: 8px 0;
  color: var(--color3);
  border-bottom: 2px solid #fff;
}
.destiCont2 {
  padding: 0 3em;
}
.destiLine {
  margin: 30px 0;
  color: #ffffff40;
}
.destiDT {
  display: flex;
  justify-content: space-between;
}
.destiDistCont {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.destiTravelCont {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.selected {
  color: var(--color3);
  border-bottom: 2px solid white;
}
.avgEst {
  color: var(--color2);
}
.destHead {
  color: var(--color3);
}

/* --crew */

.crewWrapper {
  width: 100%;
  height: 100vh;
  background-image: url(/assets/crew/background-crew-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.crewCont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  align-items: end;
}
.crewCont2 {
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
.crewHeading span {
  font-weight: 700;
  color: #ffffff50;
}
.crewCont2 img {
  width: 68%;
}
.crewText .heading4 {
  color: #ffffff70;
}
.crewCont1 {
  display: flex;
  flex-direction: column;
  gap: 4em;
  margin: 15% 0;
}
.crewText {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.crewButton {
  display: flex;
  gap: 15px;
}
.crewBtn {
  width: 12px;
  height: 12px;
  cursor: pointer;
  background-color: #ffffff50;
  border-radius: 50%;
  border: none;
}
.crewBtn:hover {
  background-color: var(--color3);
}
.selected1 {
  background-color: var(--color3);
}

/* --technology */

.techWrapper {
  width: 100%;
  height: 100vh;
  background-image: url(/assets/technology/background-technology-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: 1fr 2fr;
  
}
.techWrap{
  height: 90vh;
  display: grid;
  grid-template-rows: 1fr 2fr;
  row-gap: 1em;

}
.techCont {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 2em;
  align-items: center;
}
.techCont1 {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.techContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.techText {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.techButton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.techbtn {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid #ffffff50;
  background-color: transparent;
  cursor: pointer;
}
.techbtn:hover {
  background-color: var(--color3);
  color: var(--color1);
}
.techContent .navText {
  color: var(--color2);
}
.techCont2 {
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
.techCont2 img {
  width: 80%;
}
.selected2 {
  background-color: var(--color3);
  color: var(--color1);
}
.techHeadingCont{
  display: flex;
  align-items: end;
  width: 90%;
}

/* --media Query */

@media (min-width: 701px) and (max-width: 1050px) {
  .width80 {
    width: 80%;
    margin: 0 auto;
  }
  .navCont {
    top: 0%;
  }
  .logo {
    margin-left: 15%;
  }
  .navigation::before {
    width: 0;
  }
  .homeWrapper {
    background-image: url(/assets/home/background-home-tablet.jpg);
  }
  .navCont {
    grid-template-columns: 3fr 7fr;
  }
  .homeCont {
    grid-template-columns: 1fr;
  }
  .homeCont1 {
    text-align: center;
    align-items: center;
  }
  .homeCont1 .para {
    width: 100%;
  }
  .homeCont2 {
    justify-content: center;
  }
  .destiCont{
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 2fr;
    height: 95vh;
  }
  .destiCont1{
    align-items: center;
    margin-bottom: 20px;
  }
  .destiCont1 img {
    width: 70%;
  }
  .destiButton{
    justify-content: center;
  }
  .destHeading{
    width: 100%;
    text-align: left;
  }
  #destinationName{
    text-align: center;
  }
  #destinationDescription{
    text-align: center;
  }
  .destiDT{
    justify-content: space-evenly;
  }
  .destiDistCont{
    align-items: center;
  }
  .destiTravelCont{
    align-items: center;
  }
  .destiCont2 {
    padding: 0;
  }
  .crewCont{
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 2fr;
  }
  .crewCont1{
    margin: 10% 0 10% 0;
    gap: 3.3em;
  }
  .crewCont2{
    justify-content: center;
  }
  .crewCont2 img {
    width: 55%;
}
.crewText{
  align-items: center;
}
#crewBio{
  text-align: center;
}
.crewButton{
  justify-content: center;
}
.techWrapper{
  justify-content: center;
}
.techCont{
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  height: 90vh;
}
.techCont{
  justify-content: center;
}
.techCont2 img {
  width: 60%;
}
.techCont2{
  justify-content: center;
}
.techText{
  grid-template-columns: 1fr;
  row-gap: 30px;
}
.techButton{
  flex-direction: row;
  justify-content: center;
}
.techContent{
  text-align: center;
  gap: 20px;
}
.techWrap{
  grid-template-rows: 1fr 2fr;
  row-gap: 1em;
}
}
